#page-cover {
    display: none;
}

.bg {
    position: absolute;
    z-index: -1;
    left: -10px;
    top: -10px;
    bottom: -10px;
    right: -10px;
    background: url('https://i.loli.net/2019/06/03/5cf521559576158988.jpg');
    background-size: cover;
    filter: blur(4px);
    transition: all .2s;
}

.bg::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, .4);
}

main {
    padding-top: 12vh;
    height: calc(100% - 24vh);
}

main::after {
    content: '';
    display: block;
    clear: both;
}

main .aside {
    float: left;
}

main .aside>figure {
    width: 46vh;
    height: 46vh;
    background-image: url('https://i.loli.net/2019/06/03/5cf521559576158988.jpg');
    background-size: cover;
    background-position: center center;
    transition: all .5s;
}

main .aside .actions {
    display: flex;
    margin-top: 4vh;
}

main .aside .iconfont {
    flex: 1;
    text-align: center;
    font-size: 5vh;
    color: rgba(255, 255, 255, 0.4);
    transition: color .4s;
    cursor: pointer;
}

main .aside .iconfont:hover {
    color: #fff;
}

main .aside .iconfont.active {
    color: #ff5722;
}

main .detail {
    margin-left: 56vh;
    color: #fff;
}

main .detail .tap {
    font-size: 2vh;
    padding: .4em .8em;
    background: #2e6eec;
}
main .detail .song-name{
    position: relative;
    overflow: hidden;
    height: 10vh;
}
main .detail .iconfont::before {
    margin-right: 1.2vh;
}
main .detail h1 {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 6vh;
    margin-top: 2vh;
    white-space:nowrap;
}


main .icons {
    display: flex;
    font-size: 3vh;
    margin-top: 12vh;
}

main .icons li {
   margin-right: 6vh;
}

main .icons .iconfont {
    font-size: 3vh;
    margin-right: 1vh;
}

main .area-bar {
    margin-top: 10vh;
    display: flex;
    align-items: center;
}

main .area-bar .bar {
    position: relative;
    flex: 1;
    height: .8vh;
    border-radius: .2vh;
    background: rgba(255, 255, 255, .4)
}

main .area-bar .current-time {
    width: 3vh;
    font-size: 2vh;
    margin-left: 1vh;
}

main .area-bar .bar-progress {
    position: absolute;
    height: .8vh;
    width: 0;
    background-color: #fff;
    border-radius: .2vh;
}

main .author {
    font-size: 3vh;
    margin-top: 3vh;
    color: rgba(255, 255, 255, .6);
}

main .lyric {
    font-size: 2vh;
    margin-top: 2vh;
    color: rgba(255, 255, 255, 0.4);
}


